.module{
    display: block;

    height: 1000px;
    width: 100%;
    margin: 0 auto;
    background-color: #b3d4fd;

}

.child-module{
    width: 49.6%;
    height: 500px;
    padding: 2px;
    float: left;
    background-color: oldlace;
}

.left{
    float: left;
}
.right{
    float: right;
}

.mytitle{
    width: 100%;
    height: 40px;
    margin: 0 auto;
    background: #69ffd8;
    opacity: 0.8;
    line-height: 40px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: #ed40bf;
}